@import "@/pages/app.scss";

.experiences_timeline_block_wrapper {
  display: block;
  width: 100%;
  padding: 0 0 0.5rem 0;

  .experiences_timeline_header {
    @extend .scale-in-hor-left;
    color: $selected-contrast-color;
    /* color: $selected-font-color; */
    margin: 0.1rem 0 0;
    font-weight: 300;
  }

  .experiences_timeline_sub_header {
    @extend .experiences_timeline_header;
    margin: 1.8rem 0 0;
    color: $selected-font-color;
    font-size: 1.2rem;
    /* letter-spacing: 0.15rem; */
    font-weight: 500;
  }

  .experiences_timeline_designation {
    @extend .experiences_timeline_header;
    margin: 0.9rem 0 0;
    font-size: 0.9rem;
    /* color: $selected-contrast-color; */
    color: $selected-font-color;
    text-transform: capitalize;
  }

  &.experience_timeline_reversed {
    .experiences_timeline_header {
      @extend .scale-in-hor-right;
      flex-direction: row-reverse;
      text-align: end;
    }

    .experiences_timeline_sub_header {
      @extend .scale-in-hor-right;
    }
  }
}
