@import "@/pages/app.scss";

.Skills_bar_component_container {
  display: flex;
  flex-wrap: nowrap;
  background-color: $body-background-color;
  color: $body-font-color;
  height: 1em;
  margin-bottom: 2em;
  line-height: 1em;
  width: 100%;
  font-size: 0.85em;

  .Skills_bar_component_header {
    width: 6em;
    height: 100%;
    margin-right: 1.5em;
    text-align: right;
    @extend .fade-in-fwd;
  }
  .Skills_bar_component_indicator {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    height: 100%;
    @extend .scale-in-hor-left;

    .Skills_bar_component_indicator_bar {
      height: 100%;
      background-color: $selected-contrast-color;
      border-radius: 0.15em;

      &::after {
        content: "";
        float: right;
        line-height: 1em;
        font-weight: 900;
      }
    }
  }

  .Skills_bar_component_indicator_value {
    height: 100%;
    width: 2.5em;
    margin-left: 1em;
  }
}
