@import "@/pages/app.scss";

.Skills_component_container {
  display: block;
  flex-wrap: nowrap;
  background-color: $body-background-color;
  color: $body-font-color;
  height: 35em;
  padding-top: 4.2em;
  line-height: 1em;
  width: 100%;
}

.Skills_component_body {
  display: grid;
  grid-template-columns: auto $actual_viewable_width auto;
  grid-template-rows: $header_height $header_content_gap auto;
  grid-template-areas:
    "Skills-info-header Skills-info-header Skills-info-header"
    ". . ."
    ". Skills-info .";
  height: 100%;
  justify-items: stretch;
  margin: 3em 0 0;

  .Skills_info_header {
    display: grid;
    grid-area: Skills-info-header;
    font-weight: 300;
    font-size: 3em;
    text-transform: uppercase;
    place-content: center;
    line-height: 1em;
    @extend .fade-in-fwd;

    div {
      margin: auto;
    }
  }
  .Skills_info {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    grid-area: Skills-info;
  }
}

@media only screen and (max-width: 900px) {
  $actual_viewable_width: 36rem;

  .Skills_component_body {
    grid-template-columns: auto $actual_viewable_width auto;
  }
}
