@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;800&family=Roboto+Mono:wght@100;300;400;500;700&display=swap");
@import "./animations.scss";

.linkTypeText {
  cursor: pointer;

  span {
    &:hover {
      text-decoration: underline;
    }
  }

  &:hover {
    text-decoration: underline;
  }
}
