@import "./animations.scss";
@import "@/Themes/Elegant.scss";

$font-family-mono: "Montserrat", sans-serif;
$font-family-roboto-mono: "Roboto Mono", sans-serif;

$selected-main-color: $primary-color;
$selected-contrast-color: $contrast-color;
$selected-font-color: $font-color;

$header-background-color: $selected-main-color;
$header-font-color: $selected-font-color;
$header-font-contrast-color: $selected-contrast-color;

$body-font-color: $selected-font-color;
$body-background-color: lighten($selected-main-color, 0.3%);

.global_main_class {
  font-family: $font-family-mono;
  font-size: 16px;
  color: $body-font-color;
  height: 100vh;
  background-color: $body-background-color;
}
